@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
  background-color: #ac8fe3;
  padding: 2%;
  font-family: Poppins, sans-serif;
}
#entrada_dados{
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  background-color: #b9bdc4;
}
#title{
  border: 1px solid black;
}
#texto{
  border: 1px solid black;
  width: 40vw;
  height: 10vh;
}
ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.notas{
  background-color: #b9bdc4;
  border: 1px solid black;
  padding: 3%;
  border-radius: 12px;
}
.msg{
  font-size: 20px;
}

